.bing-monitoring{
  height:200px; 
}
  .bing-monitoring .layui-progress{
  margin: 50px 0 30px;
}
.bing-monitoring h3{
  position: absolute;
  right: 0;
  top: -35px;
  color: #999;
  font-size: 14px;
}
.bing-monitoring .layui-progress-bar {
  text-align: left;
}
.bing-monitoring .layui-progress-text {
  top: -35px;
  line-height: 26px;
  font-size: 26px;
}
.bing-notice{
  height:200px;
  overflow-y: scroll;
  text-align:left;
}
.sys-text{
  margin-top:15px;
  font-size:12px;
  color:#555;
}
.total-count{
  margin-left:8px;
}

.fast-wrap{
  box-sizing:border-box;
  float:left;
  width:25%;
  padding:10px;
  cursor:pointer;
}
.fast-wrap:hover{
  background-color:#eee;
}
.fast-icon{
  text-align:center;
}
.fast-text{
  font-size:12px;
  color:#666;
  text-align:center;
}
