.bing-notice{
  overflow-y: scroll;
  text-align:left;
}
.sys-text{
  margin-top:15px;
  font-size:12px;
  color:#555;
}
.total-count{
  margin-left:8px;
}

.fast-wrap{
  box-sizing:border-box;
  float:left;
  width:25%;
  padding:10px;
  cursor:pointer;
}
.fast-wrap:hover{
  background-color:#eee;
}
.fast-icon{
  text-align:center;
}
.fast-text{
  font-size:12px;
  color:#666;
  text-align:center;
}
.layui-card-setting{
  position: absolute;
  right: 10px;
  top: 0;
  color: #aaa;
}
.layui-icon-set-fill{
  padding:5px;
  cursor:pointer;
}
.layui-icon-set-fill:hover{
  background-color:#eee;
  color:#01AAED;
}