.tree-msg{
  color:#888;
}
.tree-msg .layui-icon{
  font-size:20px;
  margin-right:5px;
}
.tree-no{
  text-align:center;
  color:#888;
}
.zu{
  margin-left:25px;
  color:#333;
  font-weight:400;
  position:relative;
}

.zu span{
  padding:3px 10px;
  box-sizing:border-box;
  display:block;
}
.zu span:hover{
  color:#0F88EB;
}
.zu-wrap{
  border:1px solid #ddd ;
  height:431px;
  padding:15px 0px;
  overflow:auto;
  border-bottom:0px;
}
.level1{
  color:#0F88EB;
  margin-left:0px !important;
}
.zu .layui-icon{
  position:absolute;
  left:-23px;
  top:-1px;
  color:#888;
}