<link rel="stylesheet" type="text/css" href="src/css/view/deviceAdd.css">
<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-header">设备添加</div>
    <div class="layui-card-body">
      <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">系统</label>
          <div class="layui-input-inline">
            <select name="system">
            </select>
          </div>
          <div class="layui-input-inline">
            <select name="project">
              <option value="">项目 (可选)</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">地点</label>
          <div class="layui-input-inline">
            <select name="site">
              <option value="">地点 (可选)</option>
            </select>
          </div>
          <div class="layui-input-inline">
            <select name="stn">
              <option value="">位置 (可选)</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">类型</label>
          <div class="layui-input-inline">
            <select name="type">
            </select>
          </div>
          <div class="layui-input-inline">
            <select name="style">
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">到货日期</label>
            <div class="layui-input-block">
              <input name="delivery" id="date1" autocomplete="off" class="layui-input" type="text">
            </div>
          </div>
        </div>
        
        <div class="layui-form-item">
          <label class="layui-form-label">序列号</label>
          <div class="layui-input-block">
            <input name="sn" autocomplete="off" placeholder="序列号" class="layui-input" type="text">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">备注</label>
          <div class="layui-input-block">
            <input name="remark" autocomplete="off" placeholder="备注" class="layui-input" type="text">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">状态</label>
          <div class="layui-input-inline">
            <select name="status">
              <option value="0">备件</option>
              <option value="1">在用</option>
              <option value="2">故障</option>
              <option value="3">维修</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <button class="layui-btn" lay-submit="" lay-filter="demo2">添加</button>
        </div>
      </form>
    </div>
  </div>
</div>



<script>
var access_token = sessionStorage.access_token;
var userId = sessionStorage.userid;

layui.use('form', function(){
  var form = layui.form;
  form.render();
});




</script>