body{
  margin:0;
  padding:0;
  font-family:Helvetica Neue,Helvetica,PingFang SC,微软雅黑,Tahoma,Arial,sans-serif;
  background-color:#333;
  overflow:hidden;
  display:flex;
  width:100%;
  height:100%;
}


.wrap{
  margin: auto;
  display:block;
  width: 300px;
  min-height: 590px;
}
.title{
  text-align:center;
  font: 600 2.5em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(../images/text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
/* Animate Background Image */
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.title2{
  text-align:center;
  font-size:16px;
  margin: 25px 0 20px;
  color:#aaa;
}
.switch-wrap{
  margin-bottom: 18px;
  text-align: center;
}
.switch-button-wrap{
  display:inline-block;
  position: relative;
  font-size:18px;
  color:#aaa;
}
.switch-button-wrap .active{
  color:#0f88eb !important;
}
.switch-button{
  display:inline-block;
  width: 4em;
  line-height: 35px;
  -webkit-transition: opacity .15s,color .15s;
  transition: opacity .15s,color .15s;
  cursor:pointer;
}
.switch-button:hover{
  color:#eee;
}
.switch-button-bottom{
  left: 77px;
  position: absolute;
  bottom: 0;
  margin: 0 .8em;
  width: 2.4em;
  height: 2px;
  background: #0f88eb;
  -webkit-transition: left .15s ease-in;
  transition: left .15s ease-in;
  
}
/*登录表单*/


.group-inputs input{
  border: 0;
  padding: 1em .8em;
  width: 100%;
  line-height: 19px;
  color: #333;
  background-color: #fff;
  border: 1px solid #fff;
  opacity:0.9;
}
.group-inputs input:focus{
  outline: 0;
  border: 1px solid #0f88eb;
}
.input-top{
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.input-bottom{
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
.group-inputs .verification{
  border-top: 1px solid #ccc;
}
.signin-button{
  background: #0f88eb;
  border-radius: 3px;
  line-height: 41px;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  cursor: pointer;
  margin-top:18px;
}
.signin-button:hover{
  background:#55abed;
}

.tab-signup{
  display:none;
}
.signup-button{
  background: #aaa;
  border-radius: 3px;
  line-height: 41px;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  cursor: pointer;
  margin-top:18px;
}
.lang{
  margin-top:30px;
}
.lang-title{
  text-align:center;
  padding:10px 0px;
  color:#ccc;
  font-size:15px;
}
.layui-input, .layui-select, .layui-textarea {
  background-color: #ddd;
}

.footer{
  margin-top:40px;
}
.footer .footer-line{
  color: #aebdc9;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  cursor:pointer;
  
}
.footer .footer-line:hover{
  color:#1E9FFF;
}
.info{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  background-color:#5FB878;
  text-align:center;
  height:23px;
  padding-top:5px;
}
.info span{
  
  font-size:12px;
  color:#fff;
}
