.clearfix{
  content: '';
  display: block;
  clear: both; 
}
.top-wrap .layui-nav-bar {
  top: 0px !important;
}
.top-wrap .layui-nav{
  padding: 0 ;
  border-bottom: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  min-width:1050px;
  z-index:9999;
}
.top-wrap .layui-nav .layui-this::after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed::after {
  top: 0 ;
  height: 2px;
  background-color: #333;
}
.top-wrap .layui-nav{
  background-color:#fff;
}
.top-wrap .layui-nav .layui-nav-item{
  line-height:50px;
  height: 50px;
}
.top-wrap .layui-nav .layui-nav-item,
.top-wrap .layui-nav .layui-nav-item a{
  color:#555;
}
.top-wrap .layui-nav .layui-nav-item a:hover{
  color:#555;
}

.layui-input-search {
  width:200px;
  display: inline-block;
  margin-top: 10px;
  height: 35px;
  border: none;
  border-left:1px solid #eee;
  border-right:1px solid #eee;
  cursor: text;
  border-radius:0;
}
.top-wrap .layui-nav-child {
  top: 55px;
}
.top-wrap .layui-nav-child  a{
  cursor:pointer;
}

.left-wrap .layui-nav-tree {
  width: 190px;
}
.left-wrap .layui-nav-item a{
  font-size: 12px;
  cursor:pointer;
}
.left-wrap  .layui-nav{
  background-color: transparent;
}

.layui-body{
  left:190px;
  min-width:860px;
  top:50px;
  padding-top:15px;
}
.layui-card-body{
  display: relative; 
  padding: 15px 15px 15px 15px;
}
.left-wrap .layui-nav-item a span{
  float:left;
  font-size:12px;
}
.layui-icon-shrink-right{
  display:block;
  padding: 0 15;
  font-size:15px;
  cursor:pointer;
}
.layui-icon-spread-left{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-refresh-3{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-more-vertical{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-triangle-d{
  margin-left:5px;
}
.layui-icon-screen-full{
  display:block;
  padding: 0 15;
  font-size:18px;
  cursor:pointer;
}
.layui-icon-screen-restore{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}

.layui-icon-note{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-home{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
  
}
.layui-icon-console{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
}
.layui-icon-app{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
}
.layui-icon-chart{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
}
.layui-icon-layouts{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
}
.layui-icon-template-1{
  display:block;
  padding: 0 10 0 0;
  font-size:14px !important;
  
}
.note-input{
  min-width: 300px;
  min-height: 132px;
  border:none;
  color: #666;
  word-wrap: break-word;
  box-sizing: border-box;
  display: block;
  padding:10px;
  padding:15px;
}
.layui-table, .layui-table-view {
    margin: 0px 0;
}
.layui-timeline-title{
  font-size:14px !important;
}
.layui-table-cell{
  padding:0 5px;
}
.layui-table-cell .layui-form-checkbox[lay-skin="primary"], .layui-table-cell .layui-form-radio[lay-skin="primary"] {
  top: 1px;
}
.layui-form-item {
  margin-bottom: 0px;
}
.layui-form-item .layui-input-inline {
  width: 160px;
}
.layui-select-title{
  font-size:12px;
}
.layui-anim-upbit{
  font-size:12px;
}
.layui-input, .layui-select, .layui-textarea {
  height: 30px;
}
.layui-form-select dl dd, .layui-form-select dl dt {
  line-height: 25px;
}
.layui-card-header {
  height: 37px;
  line-height: 37px;
  color:#555;
}
.layui-input-block {
  min-height: 0px;
}
.layui-form-label {
  padding: 5px 15px;
}

/*重写jquery-ui*/
.ui-spinner-input {
  margin: 0 2em 0 .4em !important;
  height: 28px;
  width: 20px;
}
.ui-widget.ui-widget-content {
  border: 1px solid #e6e6e6 !important;
  border-radius:2px !important;
  
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border-left: 1px solid #e6e6e6 !important;
}
.layui-field-title legend{
  font-size:12px;
  color:#888;
}