body{
  margin:0;
  padding:0;
  font-family:Helvetica Neue,Helvetica,PingFang SC,微软雅黑,Tahoma,Arial,sans-serif;
  background-color:#F2F2F2;
  overflow:hidden;
  
}

.left-wrap{
  position:absolute;
  height:100%;
  background-color:#24262F;
}
.right-wrap{
  position:absolute;
  left:190px;
}
.bing-title{
  color:#ddd !important;
  background-color:#3A3D49;
  width:190px;
  text-align:center;
}
.layui-icon-shrink-right{
  display:block;
  padding: 0 15;
  font-size:15px;
  cursor:pointer;
}
.layui-icon-spread-left{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-refresh-3{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-more-vertical{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.layui-icon-triangle-d{
  margin-left:5px;
}
.layui-icon-screen-full{
  display:block;
  padding: 0 15;
  font-size:18px;
  cursor:pointer;
}
.layui-icon-screen-restore{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}

.layui-icon-note{
  display:block;
  padding: 0 15;
  font-size:16px;
  cursor:pointer;
}
.bing-left{
  float:left;
}
.bing-right{
  float:right;
}
