<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-body">111</div>
  </div>
</div>
<div class="layui-col-md12">
  <div class="layui-card">
    <div class="layui-card-body">
      <table id="table1" lay-filter="table1"></table>
    </div>
  </div>
</div>

<script>
layui.use('table', function(){
  var table = layui.table;
  
  var systemId = 1;
  table1 = table.render({
    elem:'#table1',
    height: 528, //容器高度
    url: 'api/Device',
    where: {systemId},
    even:true,
    size:'sm',
    method: 'post',
    id:'table1',
    page: false, //是否开启分页
    cols:  [[ //标题栏
      {field: 'GUID',width:1,title:''},
      {field: 'XING_MING',title:'<span lang="姓名"></span>',width:90, sort: true,align:'center',style:"text-align:center;font-size:13px;",templet: '#template2'},
      {field: 'GONG_SI', title: '<span lang="公司"></span>', width:200, sort: true,align:'center',style:"text-align:center;font-size:13px;"},
      {field: 'SHOU_JI', title: '<span lang="手机"></span>', width:110,align:'center',style:"text-align:center;font-size:13px;"},
      {field: 'ZUO_JI', title: '<span lang="座机"></span>', width:110, sort: true,align:'center',style:"text-align:center;font-size:13px;"},
      {field: 'YOU_XIANG', title: '<span lang="邮箱"></span>', width:220,align:'center',style:"text-align:left;font-size:13px;"},
      {field: 'BEI_ZHU', title: '<span lang="备注"></span>',align:'center', sort: true,style:"text-align:left;font-size:13px;"},
      {field: 'QUAN_XIAN', title: '<span lang="权限"></span>',width:95,fixed:'right',align:'center',style:"text-align:center;font-size:13px;",templet: '#template1'},
    ]],
    done: function(res, curr, count){
      table1Data = res.data;
      
    }
  }); 
  
});


</script>