<div class="layui-col-md9">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-inline">
            <select name="system" lay-verify="system">
              <option value="">系统</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div>   
          <div class="layui-input-inline">
            <select name="city" lay-verify="city">
              <option value="">类型</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div>
          <div class="layui-input-inline">
            <select name="city" lay-verify="city">
              <option value="">地点</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div>
        </div>  
        <div class="layui-form-item" style="padding-top:8px;">
          <div class="layui-input-inline">
            <select name="city" lay-verify="city">
              <option value="">项目</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div> 
          <div class="layui-input-inline">
            <select name="city" lay-verify="city">
              <option value="">式样</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div>   
          <div class="layui-input-inline">
            <select name="city" lay-verify="city">
              <option value="">位置</option>
              <option value="1">MES1</option>
              <option value="2">MES2</option>
              <option value="3">MES3</option>
            </select>  
          </div>   
          <button class="layui-btn layui-btn-sm">查询</button>
        </div> 
      </form>
    </div>
  </div>
</div>
<div class="layui-col-md3">
  <div class="layui-card">
    <div class="layui-card-header">操作</div>
    <div class="layui-card-body">
      <button class="layui-btn layui-btn-sm layui-btn-normal">修改</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger">删除</button>
    </div>
  </div>
</div>
<div class="layui-col-md12">
  <div class="layui-card">
    <div id="a1"></div>
    <div class="layui-card-body">
      <table id="table1" lay-filter="table1"></table>
    </div>
  </div>
</div>

<script>
var access_token = sessionStorage.access_token;
var userId = sessionStorage.userid;

layui.use(['table','form'], function(){
  var table = layui.table;
  var form = layui.form;
  form.render();
  table1 = table.render({
    elem:'#table1',
    height: 528, //容器高度
    url: 'actionApi/Device/list',
    where: {"userId":userId},
    headers:{"Authorization":"Basic "+access_token},
    even:true,
    height:'full-230',
    size:'sm',
    method: 'post',
    id:'table1',
    page: true, //是否开启分页
    cols:  [[ //标题栏
      {type:'checkbox', fixed: 'left',width:30},
      {field: 'TYPE_NAME',title:'类型', fixed: 'left',width:130, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      {field: 'STYLE_NAME', title: '式样', fixed: 'left', width:130, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      {field: 'SN', title: '序列号', fixed: 'left', width:150, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      {field: 'COUNT', title: '数量', fixed: 'left', width:60, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      {field: 'DELIVERY_DATE', title: '到货日期', width:90, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      {field: 'STATUS', title: '状态', width:60,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
      {field: 'SITE_NAME', title: '地点', width:150,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
      {field: 'STN_NAME', title: '位置', width:150,align:'center', sort: true,style:"text-align:center;font-size:12px;", event: 'devMore', style:'cursor: pointer;color:#01AAED;'},
      {field: 'PROJECT_NAME', title: '项目', width:180,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
      {field: 'REMARK', title: '备注', width:200,align:'center', sort: true,style:"text-align:left;font-size:12px;"},
    ]],
    done: function(res, curr, count){
      table1Data = res.data;
      
    }
  }); 
  
  //监听单元格事件
  table.on('tool(table1)', function(obj){
    var data = obj.data;
    if(obj.event === 'devMore'){
      console.log(data);
    }
  });
  
});


$.ajax({
  url: 'actionApi/Device/select',
  type:'post',
  data:{"userId":userId},
  headers:{"Authorization":"Basic "+access_token},
  success:function(res){
    console.log(res);
  }
});

</script>