<link rel="stylesheet" type="text/css" href="src/css/view/deviceList.css">
<div class="layui-col-md9">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-inline">
            <select name="system" lay-verify="system" lay-filter="system">
              <option value="">系统</option>
            </select>  
          </div>   
          <div class="layui-input-inline">
            <select name="type" lay-verify="type" lay-filter="type">
              <option value="">类型</option>
            </select>  
          </div>
          <div class="layui-input-inline">
            <select name="site" lay-verify="site" lay-filter="site">
              <option value="">地点</option>
            </select>  
          </div>
        </div>  
        <div class="layui-form-item" style="padding-top:8px;">
          <div class="layui-input-inline">
            <select name="project" lay-verify="project" lay-filter="project">
              <option value="">项目</option>
            </select>  
          </div> 
          <div class="layui-input-inline">
            <select name="style" lay-verify="style" lay-filter="style">
              <option value="">式样</option>
            </select>  
          </div>   
          <div class="layui-input-inline">
            <select name="stn" lay-verify="stn" lay-filter="stn">
              <option value="">位置</option>
            </select>  
          </div>
        </div> 
      </form>
    </div>
  </div>
</div>
<div class="layui-col-md3">
  <div class="layui-card">
    <div class="layui-card-header">操作</div>
    <div class="layui-card-body">
      <button class="layui-btn layui-btn-sm viewBtn2" view="deviceAdd">添加</button>
      <button class="layui-btn layui-btn-sm layui-btn-normal" id="edit">修改</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger" id="del">删除</button>
    </div>
  </div>
</div>
<div class="layui-col-md12">
  <div class="layui-card">
    <div id="a1"></div>
    <div class="layui-card-body">
      <table id="table1" lay-filter="table1"></table>
    </div>
  </div>
</div>

<div class="more">
  <div class="more-title">更多信息</div>
  <div class="more-close"><span class="layui-icon layui-icon-close"></span></div>
  <div class="more-wrap"></div>
</div>

<script>
var access_token = sessionStorage.access_token;
var userId = sessionStorage.userid;
var rowData;
var tableRef = false;
var moreShow = false;
var moreIndex;
$('.layui-input-search').val('');   //初始化搜索框

layui.use(['table','form'], function(){
  var table = layui.table;
  var form = layui.form;
  form.render();
  formShow();
  
  function formShow(){
    var systemId = $('select[name="system"]').val();
    var siteId = $('select[name="site"]').val();
    var typeId = $('select[name="type"]').val();
    var styleId = $('select[name="style"]').val();
    var stnId = $('select[name="stn"]').val();
    var projectId = $('select[name="project"]').val();
    var keyword = Trim($('.layui-input-search').val());
    table1 = table.render({
      elem:'#table1',
      height: 528, //容器高度
      url: 'actionApi/Device/list',
      where: {
        "userId":userId,
        "systemId":systemId,
        "siteId":siteId,
        "typeId":typeId,
        "styleId":styleId,
        "stnId":stnId,
        "projectId":projectId,
        "keyword":keyword
      },
      headers:{"Authorization":"Basic "+access_token},
      even:false,    //隔行变色
      height:'full-230',
      size:'sm',
      method: 'post',
      id:'table1',
      limit:20,
      limits:[20, 50, 200, 500],
      page: true, //是否开启分页
      cols:  [[ //标题栏
        {type:'checkbox', fixed: 'left',width:30},
        {field: 'TYPE_NAME',title:'类型',fixed: 'left', width:130, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'STYLE_NAME', title: '式样', fixed: 'left',width:130, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'SN', title: '编号 / 别名',fixed: 'left', event: 'devMore',width:150, sort: true,align:'center',style:"text-align:center;font-size:12px;cursor: pointer;"},
        //{field: 'COUNT', title: '数量', fixed: 'left', width:60, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'DELIVERY_DATE', title: '到货日期', width:90, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'STATUS', title: '状态', width:60,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
        {field: 'SITE_NAME', title: '地点', width:150,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
        {field: 'STN_NAME', title: '位置', width:150,align:'center', sort: true,style:"text-align:center;font-size:12px;", event: 'stn', style:'cursor: pointer;color:#01AAED;'},
        {field: 'REMARK', title: '备注', width:200,align:'center', sort: true,style:"text-align:left;font-size:12px;"},
        {field: 'PROJECT_NAME', title: '项目', width:180,align:'center', sort: true,style:"text-align:center;font-size:12px;"},

      ]],
      done: function(res, curr, count){
        table1Data = res.data;
        
      }
    }); 
  }
  
  //搜索输入监听 - 重新加载表格
  var inputStat = 0;
  //搜索函数
  function inputSearch(){
    inputStat += 1;
    //延迟执行，防止快速输入时频繁刷新表格
    setTimeout(function(){
      inputStat -= 1;
      if(inputStat==0){
        //筛选表格
        formShow();
      }
    },500);
  }
  //监听搜索栏输入事件
  $('.layui-input-search').bind('input propertychange', function() {
    inputSearch();    //执行搜索函数
  });  
  
  //监听单元格事件
  table.on('tool(table1)', function(obj){
    var data = obj.data;
    if(obj.event === 'devMore'){
      if(moreShow == true){ //如果更多显示已打开
        if(moreIndex == data.DEV_ID){   //再次点击，关闭更多显示
          $('.layui-table').find('td').removeClass('row-selected');
          moreShow = false;
          moreIndex = '';
          $('.more').hide();
          //console.log('更多显示关闭');
        }else{
          $('.layui-table').find('td').removeClass('row-selected');
          $(this).addClass('row-selected');
          moreIndex = data.DEV_ID;
          getMoreInfo(data.DEV_ID);
          //console.log('更多显示更新为'+data.DEV_ID);
        }
      }else{
        $('.layui-table').find('td').removeClass('row-selected');
        $(this).addClass('row-selected');
        moreShow = true;    //更多信息显示标记
        moreIndex = data.DEV_ID;
        getMoreInfo(data.DEV_ID);
        $('.more').slideLeftShow();
        //console.log('更多显示打开为'+data.DEV_ID);
      }

    }
  });
  //更多信息关闭按钮事件
  $('.more .layui-icon-close').click(function(){
    $('.layui-table').find('td').removeClass('row-selected');
    moreIndex = '';
    moreShow = false;
    $('.more').hide();
  });
  
  //获取更多信息
  function getMoreInfo(devId){
    $.ajax({
      url: 'actionApi/Device/more',
      type:'post',
      data:{"devId":devId},
      headers:{"Authorization":"Basic "+access_token},
      beforesend:function(){
        $('.more-wrap').html('<div class="more-tishi">读取中...</div>');
      },
      success:function(res){
        if(Object.keys(res.data).length!=0){
          $('.more-wrap').html('');
          for(var key in res.data){
            $('.more-wrap').append('<div class="more-info">'+
              '<div class="more-key">'+key+'</div>'+
              '<div class="more-value">'+res.data[key]+'</div></div>');
          }
        }else{
          $('.more-wrap').html('<div class="more-tishi">无更多信息</div>');
        }
      }
    });
  }
  
  //初始化select
  $('select[name="project"]').attr('disabled','disabled');
  $('select[name="type"]').attr('disabled','disabled');
  $('select[name="site"]').attr('disabled','disabled');
  $('select[name="style"]').attr('disabled','disabled');
  $('select[name="stn"]').attr('disabled','disabled');
  
  var selectData;
  //获取select选项
  $.ajax({
    url: 'actionApi/Device/select',
    type:'post',
    data:{"userId":userId},
    headers:{"Authorization":"Basic "+access_token},
    success:function(res){
      selectData = res.data;
      var systemList = selectData.system;
      for(var key in systemList){
        $('select[name="system"]').append('<option value="'+key+'">'+systemList[key]+'</option>');
      }
      form.render('select');
    }
  });
  
  //系统select选择事件
  form.on('select(system)', function(data){
    $('select[name="project"]').attr('disabled','disabled');
    $('select[name="project"]').html('<option value="">项目</option>');
    $('select[name="site"]').attr('disabled','disabled');
    $('select[name="site"]').html('<option value="">地点</option>');
    $('select[name="stn"]').attr('disabled','disabled');
    $('select[name="stn"]').html('<option value="">位置</option>');
    $('select[name="type"]').attr('disabled','disabled');
    $('select[name="type"]').html('<option value="">类型</option>');
    $('select[name="style"]').attr('disabled','disabled');
    $('select[name="style"]').html('<option value="">式样</option>');
    var systemId = data.value;
    //如果系统里有项目，项目select增加选项并启用
    if(selectData.project[systemId]){
      $('select[name="project"]').removeAttr('disabled');
      $('select[name="project"]').html('<option value="">项目</option>');
      for(var key in selectData.project[systemId]){
        $('select[name="project"]').append('<option value="'+key+'">'+selectData.project[systemId][key]+'</option>');
      }
    }
    //如果系统里有地点，地点select增加选项并启用
    if(selectData.site[systemId]){
      $('select[name="site"]').removeAttr('disabled');
      $('select[name="site"]').html('<option value="">地点</option>');
      for(var key in selectData.site[systemId]){
        $('select[name="site"]').append('<option value="'+key+'">'+selectData.site[systemId][key]+'</option>');
      }
    }
    //如果系统里有类型，类型select增加选项并启用
    if(selectData.type[systemId]){
      $('select[name="type"]').removeAttr('disabled');
      $('select[name="type"]').html('<option value="">类型</option>');
      for(var key in selectData.type[systemId]){
        $('select[name="type"]').append('<option value="'+key+'">'+selectData.type[systemId][key]+'</option>');
      }
    }
    form.render('select');
  });
  
  //地点select选择事件
  form.on('select(site)', function(data){
    var siteId = data.value;
    //位置select增加选项
    if(selectData.stn[siteId]){
      $('select[name="stn"]').removeAttr('disabled');
      $('select[name="stn"]').html('<option value="">位置</option>');
      for(var key in selectData.stn[siteId]){
        $('select[name="stn"]').append('<option value="'+key+'">'+selectData.stn[siteId][key]+'</option>');
      }
    }else{
      $('select[name="stn"]').attr('disabled','disabled');
      $('select[name="stn"]').html('<option value="">位置</option>');
    }
    form.render('select');
  });
  
  //类型select选择事件
  form.on('select(type)', function(data){
    var typeId = data.value;
    //式样select增加选项
    if(selectData.style[typeId]){
      $('select[name="style"]').removeAttr('disabled');
      $('select[name="style"]').html('<option value="">式样</option>');
      for(var key in selectData.style[typeId]){
        $('select[name="style"]').append('<option value="'+key+'">'+selectData.style[typeId][key]+'</option>');
      }
    }else{
      $('select[name="style"]').attr('disabled','disabled');
      $('select[name="style"]').html('<option value="">式样</option>');
    }
    form.render('select');
  });
  
  //全局select选择事件，查询设备列表
  form.on('select', function(){
    formShow();
  });
  
  //删除按钮点击事件
  $('#del').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    if(data.length==0){
      layer.msg('请选择要删除的设备 | No Device Selected!');
    }else{
      var idArr = [],tishi = '';
      for(i=0;i<data.length;i++){
        tishi += data[i].SN + ' , ';
        idArr.push(data[i].DEV_ID);
      }
      tishi = tishi.substring(0,tishi.length-2);
      layer.confirm(tishi, {
          btn: ['Yes', 'No'],
          time: 0,
          title:'确定删除? - Delete?',
        }, function(){
          ajax = $.ajax({
            url:"actionApi/Device/del",
            async:true,
            type: 'post',
            dataType:'json',
            headers:{"Authorization":"Basic "+access_token},
            data: {
              "":JSON.stringify(idArr)
            },
            success:function(res){
              if(res.code==0){
                parent.layer.closeAll();
                parent.layer.msg('删除成功');
                
                formShow();
              }else{
                parent.layer.closeAll();
                parent.layer.msg('出现错误');
              }
            }
          });
        }
      
      );
    }
  });
  
  
  //编辑按钮点击事件
  $('#edit').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    if(data.length==0){
      layer.msg('请选择要编辑的设备 | No Device Selected!');
    }else{
      for(i=0;i<data.length;i++){
        rowData = data;
        //打开添加弹出层
        layer.open({
          type: 2,
          title: '设备编辑 - Edit Devices',
          shade: 0,
          area: ['1000px','465px'],
          content: 'src/view/second/deviceEdit.html?id='+i,
          end:function(){
            if(tableRef==true){
              formShow();
              tableRef = false;
            }
          },
          zIndex: layer.zIndex,
          success: function(layero){
            layer.setTop(layero);
          } 
        }); 
      }

    }
  });
  
  //监听行点击事件
  <!-- $(document).on('click', '.layui-table>tbody>tr', function (){ -->
    <!-- var systemId = $(this).children('td:eq(0)').text(); -->
    <!-- console.log(systemId); -->
    <!-- $(this).parents().children().removeClass('row-selected'); -->
    <!-- $(this).addClass('row-selected'); -->
  <!-- }); -->
  

});

//二级按钮点击事件
$('.viewBtn2').click(function(){
  var view = $(this).attr('view');
  $('#view').load('src/view/second/'+view+'.html');
});





</script>


