<link rel="stylesheet" type="text/css" href="src/css/view/siteList.css">
<div class="layui-col-md9">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-inline">
            <select name="system" lay-verify="system" lay-filter="system">
              <option value="">系统</option>
            </select>
          </div>
        </div>  
      </form>
    </div>
  </div>
</div>
<div class="layui-col-md3">
  <div class="layui-card">
    <div class="layui-card-body">
      <button class="layui-btn layui-btn-sm viewBtn2" view="siteAdd">添加</button>
      <button class="layui-btn layui-btn-sm layui-btn-normal" id="edit">修改</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger" id="del">删除</button>
    </div>
  </div>
</div>
<div class="layui-col-md7">
  <div class="layui-card">
    <div id="a1"></div>
    <div class="layui-card-body">
      <table id="table1" lay-filter="table1"></table>
    </div>
  </div>
</div>
<div class="layui-col-md5">
  <div class="layui-card">
    <div class="layui-card-body tree-body">
      <div class="tree-wrap">
        <div class="tree-msg">地点树图</div><hr>
      
      </div>
    </div>
  </div>
</div>


<script>
var access_token = sessionStorage.access_token;
var userId = sessionStorage.userid;
var rowData;
var tableRef = false;
$('.layui-input-search').val('');   //初始化搜索框


layui.use(['table','form'], function(){
  var table = layui.table;
  var form = layui.form;
  form.render();
  formShow();
  
  function formShow(){
    var systemId = $('select[name="system"]').val();
    var keyword = Trim($('.layui-input-search').val());
    table1 = table.render({
      elem:'#table1',
      height: 528, //容器高度
      url: 'actionApi/Site/list',
      where: {
        "userId":userId,
        "systemId":systemId,
        "keyword":keyword
      },
      headers:{"Authorization":"Basic "+access_token},
      even:true,
      height:'full-200',
      size:'sm',
      method: 'post',
      id:'table1',
      page: true, //是否开启分页
      cols:  [[ //标题栏
        {type:'checkbox', fixed: 'left',width:30},
        {field: 'NAME',title:'地点', fixed: 'left',width:160, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'SITE_ID', title: '地点ID', width:90, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'PARENT_ID', title: '父地点 [ID]', width:160, sort: true,align:'center',style:"text-align:center;font-size:12px;", templet: '#tempParent'},
        {field: 'USER_ID', title: '编辑用户', width:90, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'EDIT_DATE', title: '编辑日期', width:130,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
        {field: 'SYSTEM_NAME', title: '系统', width:150, align:'center', sort: true,style:"text-align:center;font-size:12px;", event: 'devMore', style:'cursor: pointer;color:#01AAED;'},
        {field: 'REMARK', title: '备注',  sort: true,align:'center',style:"text-align:center;font-size:12px;"},
      ]],
      done: function(res, curr, count){
        table1Data = res.data;
        $('.tree-body').css('height',$('.layui-table-view').css('height'));   //右侧树图与左侧列表同高
        if(systemId == ''){
          $('.tree-wrap').html('<div class="tree-msg"><i class="layui-icon">&#xe62e;</i>地点树图</div><hr><div class="tree-no">选择系统后显示</div>');
        }else{
          $('.tree-wrap').html('<div class="tree-msg"><i class="layui-icon">&#xe62e;</i>地点树图</div><hr><div class="zu level1" zid="0"><span class="JS-zuConfirm">根节点</span></div>');     //显示根节点
          for(i=0;i<table1Data.length;i++){
            //将子节点追加到相应的父节点上
            $('div[zid="'+table1Data[i]['PARENT_ID']+'"]').append(
              '<div class="zu" zid="'+table1Data[i]['SITE_ID']+'">'+
                '<span class="layui-icon">&#xe625;</span>'+
                '<span class="JS-zuConfirm">'+table1Data[i]['NAME']+'['+table1Data[i]['SITE_ID']+']</span>'+
              '</div>'
            );
          }
          //没有子组织的层级浅色显示
          $('.zu').each(function(){
            if($(this).find('div').length == 0){
              $(this).find('.layui-icon').html('&#xe623;');
              $(this).find('.layui-icon').css('color','#ccc');
            }
          });

          //文件夹图标点击事件，展开收起层级
          $('.layui-icon').click(function(e){
            e.stopPropagation();
            if($(this).parent().children('div').css('display')!='none'){
              $(this).parent().children('div').hide();
              $(this).parent().children('.layui-icon').html('&#xe623;');
            }else{
              $(this).parent().children('div').show();
              $(this).parent().children('.layui-icon').html('&#xe625;');
            }

          });
        }

        
      }
    }); 
  }
  
  //搜索输入监听 - 重新加载表格
  var inputStat = 0;
  //搜索函数
  function inputSearch(){
    inputStat += 1;
    //延迟执行，防止快速输入时频繁刷新表格
    setTimeout(function(){
      inputStat -= 1;
      if(inputStat==0){
        //筛选表格
        formShow();
      }
    },500);
  }
  //监听搜索栏输入事件
  $('.layui-input-search').bind('input propertychange', function() {
    inputSearch();    //执行搜索函数
  });  
  
  
  //监听单元格事件
  table.on('tool(table1)', function(obj){
    var data = obj.data;
    if(obj.event === 'devMore'){
      console.log(data);
    }
  });
  
  var selectData;
  //获取select选项
  $.ajax({
    url: 'actionApi/Site/select',
    type:'post',
    data:{"userId":userId},
    headers:{"Authorization":"Basic "+access_token},
    success:function(res){
      selectData = res.data;
      var systemList = selectData.system;
      for(var key in systemList){
        $('select[name="system"]').append('<option value="'+key+'">'+systemList[key]+'</option>');
      }
      form.render('select');
    }
  });
  
  form.on('select', function(data){
    formShow();
  });
  
  //删除按钮点击事件
  $('#del').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    //console.log(data);
    if(data.length==0){
      layer.msg('请选择要删除的地点 | No Site Selected!');
    }else{
      var idArr = [],tishi = '';
      for(i=0;i<data.length;i++){
        tishi += data[i].NAME + ' , ';
        idArr.push(data[i].SITE_ID);
      }
      tishi = tishi.substring(0,tishi.length-2);
      layer.confirm(tishi, {
          btn: ['Yes', 'No'],
          time: 0,
          title:'确定删除? - Delete?',
        }, function(){
          ajax = $.ajax({
            url:"actionApi/Site/del",
            async:true,
            type: 'post',
            dataType:'json',
            headers:{"Authorization":"Basic "+access_token},
            data: {
              "":JSON.stringify(idArr)
            },
            success:function(res){
              if(res.code==0){
                parent.layer.closeAll();
                parent.layer.msg('删除成功');
                
                formShow();
              }else{
                parent.layer.closeAll();
                parent.layer.msg('出现错误');
              }
            }
          });
        }
      
      );
    }
  });
  
  
  //编辑按钮点击事件
  $('#edit').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    if(data.length==0){
      layer.msg('请选择要编辑的地点 | No Site Selected!');
    }else{
      for(i=0;i<data.length;i++){
        rowData = data;
        //打开添加弹出层
        layer.open({
          type: 2,
          title: '地点修改 - Edit Site',
          shade: 0,
          area: ['480px','330px'],
          content: 'src/view/second/siteEdit.html?id='+i,
          end:function(){
            if(tableRef==true){
              formShow();
              tableRef = false;
            }
          },
          zIndex: layer.zIndex,
          success: function(layero){
            layer.setTop(layero);
          } 
        }); 
      }

    }
  });
});

//二级按钮点击事件
$('.viewBtn2').click(function(){
  var view = $(this).attr('view');
  $('#view').load('src/view/second/'+view+'.html');
});




</script>

<script type="text/html" id="tempParent">
  {{#  if(d.PARENT_ID !=0){ }}
    {{d.PARENT_NAME}} [{{d.PARENT_ID}}]
  {{#  } else { }}
    根节点
  {{#  } }}
  
</script>