<div class="layui-col-md9">
  <div class="layui-card">
    <div class="layui-card-body">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-inline">
            <select name="system" lay-verify="system" lay-filter="system">
              <option value="">系统</option>
            </select>
          </div>
        </div>  
      </form>
    </div>
  </div>
</div>
<div class="layui-col-md3">
  <div class="layui-card">
    <div class="layui-card-body">
      <button class="layui-btn layui-btn-sm viewBtn2" view="typeAdd">添加</button>
      <button class="layui-btn layui-btn-sm layui-btn-normal" id="edit">修改</button>
      <button class="layui-btn layui-btn-sm layui-btn-danger" id="del">删除</button>
    </div>
  </div>
</div>
<div class="layui-col-md12">
  <div class="layui-card">
    <div id="a1"></div>
    <div class="layui-card-body">
      <table id="table1" lay-filter="table1"></table>
    </div>
  </div>
</div>

<script>
var access_token = sessionStorage.access_token;
var userId = sessionStorage.userid;
var rowData;
var tableRef = false;
$('.layui-input-search').val('');   //初始化搜索框

layui.use(['table','form'], function(){
  var table = layui.table;
  var form = layui.form;
  form.render();
  formShow();
  
  function formShow(){
    var systemId = $('select[name="system"]').val();
    var keyword = Trim($('.layui-input-search').val());
    table1 = table.render({
      elem:'#table1',
      height: 528, //容器高度
      url: 'actionApi/Type/list',
      where: {
        "userId":userId,
        "systemId":systemId,
        "keyword":keyword
      },
      headers:{"Authorization":"Basic "+access_token},
      even:true,
      height:'full-200',
      size:'sm',
      method: 'post',
      id:'table1',
      page: true, //是否开启分页
      cols:  [[ //标题栏
        {type:'checkbox', fixed: 'left',width:30},
        {field: 'TYPE_NAME',title:'类型', fixed: 'left',width:200, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'USER_ID', title: '编辑用户', width:100, sort: true,align:'center',style:"text-align:center;font-size:12px;"},
        {field: 'EDIT_DATE', title: '编辑日期', width:130,align:'center', sort: true,style:"text-align:center;font-size:12px;"},
        {field: 'SYSTEM_NAME', title: '系统',align:'center', sort: true,style:"text-align:center;font-size:12px;", event: 'devMore', style:'cursor: pointer;color:#01AAED;'},
      ]],
      done: function(res, curr, count){
        table1Data = res.data;
        
      }
    }); 
  }
  
  //搜索输入监听 - 重新加载表格
  var inputStat = 0;
  //搜索函数
  function inputSearch(){
    inputStat += 1;
    //延迟执行，防止快速输入时频繁刷新表格
    setTimeout(function(){
      inputStat -= 1;
      if(inputStat==0){
        //筛选表格
        formShow();
      }
    },500);
  }
  //监听搜索栏输入事件
  $('.layui-input-search').bind('input propertychange', function() {
    inputSearch();    //执行搜索函数
  });  
  
  
  //监听单元格事件
  table.on('tool(table1)', function(obj){
    var data = obj.data;
    if(obj.event === 'devMore'){
      console.log(data);
    }
  });
  
  var selectData;
  //获取select选项
  $.ajax({
    url: 'actionApi/Type/select',
    type:'post',
    data:{"userId":userId},
    headers:{"Authorization":"Basic "+access_token},
    success:function(res){
      selectData = res.data;
      var systemList = selectData.system;
      for(var key in systemList){
        $('select[name="system"]').append('<option value="'+key+'">'+systemList[key]+'</option>');
      }
      form.render('select');
    }
  });
  
  form.on('select', function(data){
    formShow();
  });
  
  //删除按钮点击事件
  $('#del').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    //console.log(data);
    if(data.length==0){
      layer.msg('请选择要删除的类型 | No Type Selected!');
    }else{
      var idArr = [],tishi = '';
      for(i=0;i<data.length;i++){
        tishi += data[i].TYPE_NAME + ' , ';
        idArr.push(data[i].TYPE_ID);
      }
      tishi = tishi.substring(0,tishi.length-2);
      layer.confirm(tishi, {
          btn: ['Yes', 'No'],
          time: 0,
          title:'确定删除? - Delete?',
        }, function(){
          ajax = $.ajax({
            url:"actionApi/Type/del",
            async:true,
            type: 'post',
            dataType:'json',
            headers:{"Authorization":"Basic "+access_token},
            data: {
              "":JSON.stringify(idArr)
            },
            success:function(res){
              if(res.code==0){
                parent.layer.closeAll();
                parent.layer.msg('删除成功');
                
                formShow();
              }else{
                parent.layer.closeAll();
                parent.layer.msg('出现错误');
              }
            }
          });
        }
      
      );
    }
  });
  
  
  //编辑按钮点击事件
  $('#edit').click(function(){
    var checkStatus = table.checkStatus('table1'),
    data = checkStatus.data;
    if(data.length==0){
      layer.msg('请选择要编辑的类型 | No Type Selected!');
    }else{
      for(i=0;i<data.length;i++){
        rowData = data;
        //打开添加弹出层
        layer.open({
          type: 2,
          title: '类型修改 - Edit Type',
          shade: 0,
          area: ['480px','230px'],
          content: 'src/view/second/typeEdit.html?id='+i,
          end:function(){
            if(tableRef==true){
              formShow();
              tableRef = false;
            }
          },
          zIndex: layer.zIndex,
          success: function(layero){
            layer.setTop(layero);
          } 
        }); 
      }

    }
  });
});

//二级按钮点击事件
$('.viewBtn2').click(function(){
  var view = $(this).attr('view');
  $('#view').load('src/view/second/'+view+'.html');
});



</script>